/* Chrome, Safari, Edge, Opera */
input.form-number::-webkit-outer-spin-button,
input.form-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"].form-number {
  -moz-appearance: textfield;
}
